/*---------------------CÓDIGO GENERAL ESTILO-----------*/
html, body{
  margin: 0;
  overflow-x: hidden;  
  width: 100%;
  height: 100%;
  padding: 0;
}
*,*:after,*:before{
  box-sizing: border-box;
}
header *, footer *{
  margin:0;
  padding:0;
  list-style:none;
  color: white;
}
.container{
  width:94%;
  max-width:1200px;
  margin:0 auto;
}
/*---------------------------FUENTE--------------------*/
.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
#indexhtml{
  background-color: #0093FB;
}
/*----------------------------CÓDIGO MENÚ NAV------*/
.menu {
  background-color: #095388;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 2.5cm;
  display: flex;
  align-items: center;
}
.gridmenu{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10%;
}
.navegacion nav ul, .navegaciondetalle nav ul {
  display: flex;
  list-style: none;
}
.navegacion nav ul li a, .navegaciondetalle nav ul li a {
  margin-left: 2.3em;
  text-decoration: none;
  padding: 7px;
  border-radius: 0.3cm;
}
/*----------------------------------ESTILOS MENÚ NAV---------------*/
.navegacion nav ul li a:hover, .navegacion nav ul li a:focus, .navegaciondetalle a:hover, .navegaciondetalle a:focus{
  background-color: #3e4042;
  border-radius: 0.3cm;
  border-bottom: none;
}
/*------MENU RESPONSIVE----*/
@media screen and (max-width: 750px){
  .menu{
    height: 4cm;
  }
  .gridmenu{
    display: flex;
    flex-direction: column;
  }
  .navegacion nav ul{
    margin-top: 0.5cm;
  }
}
@media screen and (max-width: 500px){
  .menu{
    height: 7cm;
    
  }
  .gridmenu{
    display: flex;
    flex-direction: column;
  }
  .navegacion nav ul{
    display: block;
  }
  .navegacion nav ul{
    line-height: 2.5em;
  }
}
@media screen and (max-width: 500px){
  .navegaciondetalle nav ul{
    display: block;
    line-height: 3em;
  }
}
/*----------------------------ESTILO DE PÁGINA DONDE ESTÁ EL USUARIO----*/
.pagactual a{
  border: none;
  border-bottom:solid yellow;
}
/*----------------------------------------MAIN INDEX.HTML-------------*/
/*-------------------------RELATIVO A LA FOTO Y TEXTO-------------*/
#mainindex{
  align-items: center;
}
#fotoprinci{
  height: 800px;
  background-image: url(../IMG/portada/foto-princi-index.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
@supports (background-image: url(image.webp)) {
  #fotoprinci {
    background-image: url(../IMG/Webp/portada/foto-princi-index.webp);
  }
}
@media screen and (max-width: 550px){
  #fotoprinci{
    height: auto;
    background-image: url(../IMG/Webp/portada/foto-princi-index_640.webp);
  }
}
#mainindex{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 750px){
  #mainindex{
    padding-top: 2cm;
  }
}
@media screen and (max-width: 500px){
  #mainindex{
    padding-top: 6cm;
  }
}
/*----------------------------RELATIVO AL TEXTO SOBRE LA FOTO------------*/
#textoprinci{
  font-size: 3.5em;
}
#eslogan{
  border-top: solid 1px;
  border-bottom: solid 1px;
}
@media screen and (max-width: 425px){
  #textoprinci{
  font-size: 3em;
  }
}
@media screen and (max-width: 365px){
  #textoprinci{
    font-size: 2.5em;
    }
}
@media screen and (max-width: 665px){
  #botondescubre{
    margin-bottom: 1cm;
  }
}
/*--------------ESTILOS BOTÓN ENLACE---------------*/
.linkboton a{
  color: white;
  text-decoration: none;
  border: 1px solid #0093FB;
  border-radius: 0.3cm;
  background-color: #095388;
  padding: 20px;
  transition: all 0.5s ease;
}
.linkboton a:hover, #linkboton a:focus{
  color: white;
  text-decoration: none;
  border: 1px solid rgb(227, 10, 235);
  border-radius: 0.3cm;
  background-color: rgb(227, 10, 235);
  padding: 20px;
}
/*-------------------------------------------------------SECCIÓN 2 DE INDEX.HTML----*/
#fondo{
  background-color: #0093FB;
  color: #0093FB;
  margin-top: 2cm;
}
/*-------------------------BLOQUE FLEX DE SECCIÓN DOS INDEX.HMTL----*/
#sabermas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  border-radius: 0.5cm;
  border: solid #ec17ec 4px;
  padding: 20px;
  margin-bottom: 2cm;
  box-shadow: -15px 10px 6px 0px rgba(0,0,0,0.75);
  color: #095388;
}
/*-------------------------FOTO FLEX SECCION DOS INDEX.HMTL----------*/
#fotobuscar{
  clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
  transition: clip-path 1s linear;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5cm;
}
#fotobuscar:hover{
  clip-path: polygon(0 26%, 0 0, 35% 0%, 65% 0%, 79% 0, 100% 0, 100% 47%, 100% 100%, 65% 100%, 35% 100%, 0 100%, 0 55%);
}
@media screen and (max-width:700px){
  #fotobuscar img{
    width: 100%;
    height: 100%;
  }
}
/*-------------------TEXTO SECCION DOS INDEX.HMTL-----*/
#secciondos{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
@media screen and (max-width: 550px){
  #secciondos h2{
    display: flex;
    text-align: center;
  }
}
#secciondos p:first-of-type{
  width: 80%;
  line-height: 2em;
  font-size: 1em;
}
#secciondos p:last-of-type{
  font-size: 2.5em;
  padding-bottom: 15px;
}
#conocenosboton{
  margin-bottom: 5px;
}
/*-------------------TEXTO SECCION DOS INDEX.HMTL RESPONSIVE-----*/
@media screen and (max-width: 950px){
  #sabermas{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #conocenosboton{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 335px){
  #secciondos p:last-of-type{
    text-align: center;
  }
}
/*----------------------------SECCIÓN 3---------------*/
#fondosecciontres{
  background-image: url(../IMG/portada/fondo3sec.jpg);
  background-size: cover;
  width: 70%;
  background-position: center;
  display: flex;
  justify-content: center;
  animation: animcortina 4s linear;
  border-radius: 0.5cm;
  margin-bottom: 2cm;
}
@supports (background-image: url(image.webp)) {
  #fondosecciontres {
    background-image: url(../IMG/Webp/portada/fondo3sec.webp);
  }
}
#bloquesectre{
  display: flex;
  flex-direction: column;
  background-color: #095388;
  width: 50%;
  height: auto;
  border-radius: 0.5cm;
  margin-top: 2cm;
  margin-bottom: 2cm;
  padding: 20px;
  align-items: center;
  border: solid #ec17ec 4px;
  box-shadow: -15px 10px 6px 0px rgba(0,0,0,0.75);
}
#textosectres{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
@media screen and (max-width: 550px){
  #textosectres h2{
    display: flex;
    text-align: center;
  }
}
@media screen and (max-width: 460px){
  #textosectres p{
    display: flex;
    text-align: center;
  }
}
#fotoenlace{
  background-image: url(../IMG/portada/enlace.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}
/*-----------------------------BOTÓN VISITA LOS RECURSOS---------*/
#botonenlace{
  margin-top: 1.5cm;
  margin-bottom: 1cm;
  width: max-content;
  height: max-content;
}
@media screen and (max-width: 795px){
  #botonenlace{
    display: inline-block;
    width: max-content;
    height: max-content;
  }
}
@media screen and (max-width: 630px){
  #botonenlace{
  font-size: 10px;
  }
}
#botonenlace a{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.3cm;
  background-color: #095388;
  padding: 20px;
  transition: all 0.5s ease; 
}
#botonenlace a:hover, #botonenlace a:focus{
  color: white;
  text-decoration: none;
  border: 1px solid rgb(227, 10, 235);
  border-radius: 0.3cm;
  background-color: rgb(227, 10, 235);
  padding: 20px;
  transform: scale(1.2);
}
@media screen and (max-width: 450px){
  #botonenlace{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #botonenlace a{
    padding: 10px;
    font-size: 7px;
  }
}
/*-------------------------------FOOTER------------------*/
footer{
  background-color: #095388;
  display: flex;
}
footer div:nth-child(3){
  justify-items: center;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logofooter a img{
  margin-top: 1cm;
  margin-bottom: 0.5cm;
}
.redessociales{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 4%;
  grid-column: 2;
  grid-row: 1;
}
.redessociales ul{
  display: flex;
  align-items: center;
}
.bloque1{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  grid-column: 1;
  grid-row: 1;
}
.bloque1 div:nth-child(2){
  margin-bottom: 1cm;
  margin-left: 0;
}
.bloque1 div:nth-child(2) ul a{
  text-decoration: none;
  line-height: 1.5em;
}
@media screen and (max-width: 850px){
  .bloque1{
    align-items: center;
  }
  .redessociales{
    padding-bottom: 0.3cm;
  }
}
/*------------------------------------ESTILO ENLACES FOOTER-----------*/
.legalesfooter li{
  line-height: 1.8em;
}
.legalesfooter li a:focus, .legalesfooter li a:hover, .legalesfooter li a:focus i, 
.legalesfooter li a:hover i{
  color: #3e4042;
}
@media screen and (max-width: 850px){
  .footer{
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  .footer p{
    text-align: center;
  }
  .legalesfooter{
    text-align: center;
  }
  .legalesfooter li{
    padding: 8px;
  }
}
/*-----------------------------ENLACES WEB DEL FOOTER-------------*/
.footerwebs{
  margin-bottom: 1cm;
  font-size: 13px;
  grid-column: 1/3;
  grid-row: 2;
}
.footerwebs ul{
  display: flex;
}
.footerwebs ul li a{
  text-decoration:none;
  padding-left: 22px;
}
.footerwebs ul li a:focus, .footerwebs ul li a:hover{
  text-decoration: underline;
  color: #3e4042
}
@media screen and (max-width: 850px){
  .footerwebs ul{
    display: block;
  }
  .footerwebs ul li{
    line-height: 2em;
  }
}
/*-----------------------------ESTILOS CATEGORIA.HTML-----------*/
#maincategoria{
  padding-top: 3.5cm;
  background-color: #72ade7;
}
@media screen and (max-width: 750px){
  #maincategoria{
    padding-top: 5cm;
  }
}
@media screen and (max-width: 500px){
  #maincategoria{
    padding-top: 7cm;
  }
}
/* ---------ESTILOS RELATIVOS AL BLOQUE DE TARJETAS---------- */
.tarjetas{
  background-color: #095388;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 0.5cm;
  margin-top: 1cm;
  justify-items: center;
  width:fit-content;
  border: solid #ec17ec 4px;
  box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
}
#lugaresvisita h2, #gastronomia h2, .massitios h2{
  color: #0093FB;
  background-color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 0.5cm;
  border: solid #ec17ec 3px;
  box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
}
.tarjetas div{
  width: max-content;
}
.tarjetas a {
  text-decoration: none;
}
.tarjetas figure:hover, .tarjetas figure:focus, 
.masisitiostarjeta figure:hover, .masisitiostarjeta figure:focus {
  background-color: #3e4042;
}
/*--------------------DISEÑO CAJAS-----------------*/
.tarjeta{
  text-align: center;
  border: solid 3px white;
  border-radius: 0.3cm;
  width: 250px;
  height: 189px;
  margin: auto;
  margin: 1cm;
  overflow: hidden;
}
.tarjeta img{
  width: 100%;
  height: 140px;
  border-bottom: solid 2px white;
}
figcaption{
  padding: 8px;
  color: white;
}
#gastronomia{
  margin-top: 2cm;
  padding-bottom: 70px;
}
@media screen and (max-width: 1010px){
  .tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .categoriabloque{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}
@media screen and (max-width: 670px){
  .tarjetas{
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 350px) {
  .tarjeta{
  width: 180px;
  height: 170px;
  }
  .tarjeta figcaption{
    font-size: 13px;
    padding: 0;
  }
}
/* --------------------------- ESTILOS DE  PAG.DETALLE ----- */
.articulositio{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articulositio h1{
  text-align: center;
}
.detalle_sitio{
  padding-top: 4cm;
  padding-bottom: 2cm;
  background-color: #72ade7;
}
@media screen and (max-width: 500px){
  .detalle_sitio{
    padding-top: 7cm;
  }
}
.articumasseccion{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*----------------CARACTERÍSTICAS DEL ARTÍCULO--*/
.gridmenudetalle{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 62%;
  align-items: center;
}
/* -----CARACTERÍSTICAS CAMBIO DE CAJAS DE TEXTO DE PAG. DETALLE*/
#textofinisterre1{
  grid-column: 2;
}
#textofinisterre2{
  grid-column: 1;
  grid-row: 2;
}
#textofinisterre3{
  grid-column: 2;
}
/*----MENU RESPONSIVE DE DETALLE---*/
@media screen and (max-width: 970px){
  .gridmenudetalle{
    gap: 45%;
  }
}
@media screen and (max-width: 750px){
  .gridmenudetalle{
    display: flex;
    flex-direction: column;
  }
  .gridmenudetalle ul{
    margin-top: 0.5cm;
    padding-right: 1cm;
  }
}
.articulositio h1{
  font-size: 3em;
  color: white;
  background-color: #0093FB;
  padding: 10px;
  border-radius: 0.5cm;
  border: solid #ec17ec 4px;
  box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
}
@media screen and (max-width: 425px){
  .articulositio h1{
  font-size: 1.7em;
  }
}
/*-----------IMAGEN DESTACADA----------*/
.imagendestacada picture, .imagendestacada{
  display: flex;
  justify-content: center;
  animation: efectzoom 1s linear;
}
.imagendestacada img{
  margin-bottom: 1cm;
  border-radius: 0.5cm;
  border: solid #ec17ec 4px;
  box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
  width: 80%;
  height: 75%;
}
/*---------FIGURE DEL ARTÍCULO Y LISTA--*/
.sitiofigure{
  display: flex;
  align-items: center;
  background-color: #0093FB;
  width: fit-content;
  border-radius: 0.5cm;
  padding: 15px;
  color: white;
  border: solid #ec17ec 4px;
  box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
}
.sitiofigure figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}
figure iframe{
  border: groove 8px white;
}
@media screen and (max-width: 1165px){
  .sitiofigure{
     display: flex;
     flex-direction: column;
     padding: 0px;
  }
}
iframe{
  border: none;
  padding: 0px;
}
@media screen and (max-width: 815px){
  iframe{
    width: 400px;
    height: 250px;
  }
}
@media screen and (max-width: 535px){
  iframe{
    width: 280px;
    height: 170px;
  }
  figure{
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 400px){
  .sitiofigure{
    font-size: 11px;
  }
  figure iframe{
    border: groove 4px white;
  }
}
.bloquelistainformacion{
  border-left: 3px solid white;
  width: max-content;
}
@media screen and (max-width: 1165px){
  .bloquelistainformacion{
     border-left: none;
     border-top: 3px solid white;
     width: max-content;
  }
  /*ELIMINACIÓN DE LA RALLA DE SEPARACIÓN PARA LAS WEBS DE GASTRONOMÍA*/
  #ingredientes{
    border-top: none;
  }
}
/* -----LISTA DE DATOS AL LADO DE CADA VÍDEO DE DETALLE ------------*/
.bloquelistainformacion p{
  padding-left: 20px;
}
.bloquelistainformacion ul {
  line-height: 1.8em;
  padding-right: 15px;
}
/*---------------CAJAS DE TEXTO DEL ARTÍCULO DEL SITIO---*/
.bloquesitio{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  background-color: #0093FB;
  border-radius: 0.5cm;
  margin-top: 1cm;
  padding: 20px;
  width: fit-content;
  align-items: center;
  border: solid #ec17ec 4px;
  box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
}
.textositio{
  background-color: white;
  border-radius: 0.5cm;
  display: flex;
  text-align: justify;
  padding: 18px;
  line-height: 1.8em;
  border: solid #ec17ec 4px;
  height: fit-content;
}
/*------ESTILOS RELATIVOS A LOS DIV DE TEXTO DE CADA PAG. DE DETALLE (GIF, IMAGEN, SVG Y TEXTO) ----*/
.bloquesitio div:nth-child(2){
  display: flex;
  justify-content: center;
}
.bloquesitio div:nth-child(2) img, .gif img, .arte img, .empanada img{
  border-radius: 0.5cm;
  border: solid 4px #ec17ec;
}
.bloquesitio div:nth-child(3), .svgfinisterre, .arte, .empanada{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif img, .empanada img, arte img{
  width: 100%;
  height: 100%;
}
.escudo{
  display: flex;
  justify-content: center;
}
.empanada{
  overflow: hidden;
  grid-row: 3;
  grid-column: 1;
}
@media screen and (max-width: 1165px){
  .bloquesitio{
     display: flex;
     flex-direction: column;
  }
}
@media screen and (max-width: 710px){
  .arte img{
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 530px){
  .bloquesitio div:nth-child(2) img{
    width: 340px;
  }
}
@media screen and (max-width: 400px){
  .bloquesitio div:nth-child(2) img{
    width: 240px;
  }
  #pulposvg img{
    width: 70%;
    height: 70%;
  }
  #bandera img{
    width: 80%;
    height: 80%;
  }
  .escudo img{
    width: 25%;
    height: 25%;
  }
}
/*------SECCIÓN DE LINKS DE OTROS LUGARES RELACIONADOS DENTRO DE CADA PÁGINA DE DETALLE-------*/
.massitios{
  display: flex;
  flex-direction: column;
  margin-top: 2cm;
  color: white;
}
.massitios h2{
  box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);  
}
.masisitiostarjeta{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #0093FB;
  padding: 10px;
  border-radius: 0.5cm;
  border: solid #ec17ec 4px;
  box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
}
@media screen and (max-width: 1680px){
  .massitios{
    align-items: center;
  }
  .masisitiostarjeta{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
  }
  .masisitiostarjeta div{
    margin-top: -25px;
    margin-bottom: -25px;
  }
}
@media screen and (max-width: 680px){
  .masisitiostarjeta{
     display: grid;
     grid-template-columns: 1fr;
     justify-items: center
  }
}
@media screen and (max-width: 360px){
  .massitios{
    align-items: center;
  }
  .massitios h2{
    font-size: 16px;
    margin-bottom: 0.8cm;
  }
  .masisitiostarjeta{
    padding: 0;
  }
  .massitios figure{
    margin-left: 10px;
    margin-right: 10px;
  }
}
/*-------------PRESENTACIÓN.HTML-----*/
#presentacionmain{
  padding-top: 2cm;
  background-color: #72ade7;
}
@media screen and (max-width: 500px){
  #presentacionmain{
     padding-top: 6cm;
  }
}
/*---BLOQUE PRIMERO DE TEXTO--*/
#descripciongalicia, #nuestraweb{
  background-image: url(../IMG/presentacion/sunset.jpg);
  background-size: cover;
  background-position: center;
  line-height: 1.8em;
  text-align: justify;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: max-content;
  justify-items: center;
}
@supports (background-image: url(image.webp)) {
  #descripciongalicia {
    background-image: url(../IMG/Webp/presentacion/sunset.webp);
  }
}
#descripciongalicia{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bloqueprimero{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #095388;
  padding: 35px;
  border-radius: 0.5cm;
  color: white;
  justify-items: center;
  border: solid #ec17ec 4px;
  box-shadow: -15px 10px 6px 0px rgba(0,0,0,0.64);
}
#bloqueprimero div:nth-child(3), #bloqueprimero div:nth-child(4){
  margin-top: 1cm;
}
#bloqueprimero h2, #nuestraweb h2{
  text-decoration: underline;
}
/*---FOTO DEL MAPA Y PESCADOR DEL BLOQUE PRIMERO--*/
#maparias{
  background-image: url(../IMG/presentacion/maparias.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5cm;
  width: 400px;
  transition: transform 0.3s ease-in-out;
}
#pesca{
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
#maparias:hover, #pesca:hover{
  transform: scale(1.1);
}
@supports (background-image: url(image.webp)) {
  #maparias {
    background-image: url(../IMG/Webp/presentacion/maparias.webp);
  }
}
#pesca img{
  border-radius: 0.5cm;
  overflow:hidden;
}
@media screen and (max-width: 1040px){
  #bloqueprimero{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #bloqueprimero h2, #nuestraweb h2{
    text-align: center;
  }
  #maparias{
    margin-top: 0.8cm;
    height: 300px;
    width: 300px;
  }
  #pesca{
    grid-row: 4;
  }
}
@media screen and (max-width: 500px){
  #maparias{
    margin-top: 0.8cm;
    height: 200px;
    width: 200px;
  }
  #pesca picture{
    display: flex;
    justify-content: center;
  }
  #pesca img{
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 300px){
  #maparias{
    margin-top: 0.8cm;
    height: 120px;
    width: 120px;
  }
}
/*----BLOQUE SEGUNDO - PORTADA ---*/
#nuestraweb{
  background-image: none;
  background-color: #72ade7;
}
#bloquesegundo{
  background-color: white;
  color:#095388;
  display: grid;
  padding: 35px;
  border-radius: 0.5cm;
  border: solid #ec17ec 7px;
  box-shadow: -15px 10px 6px 0px rgba(0,0,0,0.64);
}
/*------LISTA ANIDADA DEL SEGUNDO BLOQUE----*/
#listadesorportada li, #listaorportada li{
  margin-top: 1cm;
  line-height: 1.8em;
}
@media screen and (max-width: 500px){
  #listadesorportada{
    padding: 5px;
  }
}
/*----------ESTILOS ENLACES.HTML----*/
#mainenlace{
  padding-top: 4cm;
  padding-bottom: 1cm;
  background-color: #72ade7;
}
@media screen and (max-width: 500px){
  #mainenlace{
     padding-top: 8cm;
  }
}
#tabla{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*-----ESTILOS TABLA----*/
.svgestilo, .svgestilopresentacion{
  margin-bottom: 1cm;
  animation: efectzoom 1s linear;
}
table{
  border-collapse: collapse;
  margin-bottom: 2.5cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #095388;
  padding: 25px;
  border-radius: 0.5cm;
  width: fit-content;
  border: solid #ec17ec 3px;
  box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
  font-size: 1em;
}
caption{
  margin-bottom: 0.6cm;
  background-color: white;
  width: max-content;
  padding: 10px;
  border: solid #ec17ec 3px;
  border-radius: 0.5cm;
  color: #0093FB;
  font-weight: bold;
}
th{
  background-color: #3e4042;
}
th, td{
  border: 1px solid;
  text-align: center;
  padding: 6px;
  color: white;
  border: 3px solid;
}
table a{
  text-decoration: none;
  color: white;
}
table a:hover, table a:focus{
  text-decoration: none;
  color: black;
}
.celdavacia{
  display: none;
}
/*-------------ESTILOS RESPONSIVE DE TABLA Y SVG DE PRESENTACION.HTML Y ENLACES.HTML----*/
@media screen and (max-width: 750px){
  .svgestilo, .svgestilopresentacion{
    margin-top: 1cm;
  }
}
@media screen and (max-width: 630px){
  table{
    font-size: 0.8em;
  }
  th,td{
    padding: 3px;
  }
}
@media screen and (max-width: 500px){
  table{
    font-size: 0.6em;
  }
  th,td{
    padding: 2px;
  }
  .svgestilo, .svgestilopresentacion{
    margin-bottom: 0.5cm;
  }
}
@media screen and (max-width: 400px){
  table{
    font-size: 0.6em;
  }
  th,td{
    padding: 1px;
  }
  .svgestilopresentacion{
    margin-right: 35px;
  }
  .svgestilo text{
    font-size: 18px;
  }
}
/*--------------------------KEYFRAMES DE ANIMACIONES------*/
@keyframes cargarimagen{
  0% {
    clip-path: polygon(60% 0, 60% 0, 38% 100%, 38% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes animcortina{
  0%{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  100%{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
@keyframes efectzoom{
  0% {
    transform: scale(0.0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes desliz{
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}